body {
  color: #40514E;
  /* margin: 0; */
  font-family: 'Rokkitt', serif;
  font-size: 20px;
}

h1{
  font-family:'Lobster', cursive;
  font-size: 3.5rem;
  line-height: 1.5;
}
h2{
  font-size: 2rem;
  font-family: "Montserrat-Light";
}
p{
  font-family: 'Roboto', sans-serif;
  color: #8f8f8f;
  font-weight: lighter;
}
/*-----------------------------------classes-------------------------*/
.tittle-img{
  background-color: #aa96da;
width: 55%;
transform: rotate(17deg);
margin: 20px 0px 20px 35px;
position: absolute;
right: 30%;
}
.container-fluid{
  padding: 2.5% 15% 7%;
}


/*---------------------------------------------identity-----------------*/
 #title{
   background-color: #aa96da;
    color: #ebecf1;
 }

 #features{
   padding: 10% 15%;
   background-color: #fff;
   position: relative;
   text-align: center;
 }

 #Experience{
   padding: 4.5% 15% 7%;
   text-align: center;
   background-color: #aa96da;
   color: #fff;
 }

 #press{
   background-color: #aa96da;
   text-align: center;
   padding-bottom: 3%;
 }

/* ---------------------------------------------- */
 /* navigation Bar */
.navbar {
  padding-bottom: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Lobster Two', cursive;
  font-size: 2rem;
  font-weight: bolder;
  color: #cadefc;
}

.nav-item{
  padding: 0 7px;
}

.nav-link{
  color: #fff;
  font-size: 1.3rem;
  font-family: "Montserrat-Light";
}

/* ------------------------------------------------------------- */
  /* Download button */

  .Download-button{
    margin: 5% 3% 5% 0;
  }
/* ------------------------------------------------------------- */

.icon{
  color: #a6e3e9;
  padding-bottom: 1.3rem;
}

.icon:hover{
  color: #00bcd4;
}
/* ----------------Experinece-----------------------------------------0 */

.exp{
  width: 19%;
  border-radius: 20%;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}

/* ----------------------press-logo-------------------------------------- */

.press-logo{
  width: 15%;
  margin: 20px 20px 25px;
}

.carousel-item{
  padding: 7% 15%;
}
/* ---------------------Pricing Section----------------------------------- */

#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;
}

/* ---------------------cta section ----------------------------------- */
#cta{
  background-color: #aa96da;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.cta-para{
  font-family: "Montserrat-Black";
  font-size: 2 rem;
  line-height: 1.5 rem;
}

/* -------------------footer section------------------------------------ */
#footer{
  padding: 7% 15%;
  text-align: center;
}
.social-icon{
  margin: 15px 15px;
}
@media (max-width: 1020px) {

  #title{
    text-align: center;
  }
  .tittle-img{
    position: static;
    transform: rotate(0);
  }
}
